// header
$backgroundImg: url(../img/header_background_v2.jpg) no-repeat;
$btnColor: #0401ac;
$headerTextColor: #ff573c;
$backgroundColor: #efefef;
$headerBorderColor: #eee;
// main
$main-h3Color: darken(#01acac, 10%);
$mainTextColor: #757582;
$mainAdminColor: #757582;
$articleBackground: white;
// form
$labelColor: darken(#01acac, 15%);
$fonts: "Palatino Linotype",
"Book Antiqua",
Palatino,
serif;
$fontSize: 18px/26px;