// header
$backgroundImg: url(../img/header_background_v1.jpg) no-repeat;
$btnColor: #01acac;
$headerTextColor: #eee;
$backgroundColor: rgb(255, 255, 255);
$headerBorderColor: #607d8b;
// main
$main-h3Color: #01acac;
$mainTextColor: #000;
$mainAdminColor: #cb4154;
$articleBackground: #efefef;
// form
$labelColor: #01acac;
$fonts: Roboto,
Ubuntu,
Cantarell,
Helvetica,
sans-serif;
$fontSize: 15px/24px;