* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
  font-weight: 300;
  background: white; }

header {
  background: url(../img/header_background_v1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  color: #eee;
  text-transform: uppercase; }
  header .top-wrapper {
    display: flex;
    justify-content: space-between;
    height: 50%; }
    header .top-wrapper img {
      width: 50%; }
  header nav {
    flex-basis: 50%; }
    header nav a {
      display: inline-block;
      padding: 20px 100px;
      color: #eee;
      text-decoration: none;
      transition-duration: 1s; }
      header nav a:nth-child(2) {
        border-left: 2px solid #607d8b;
        border-right: 2px solid #607d8b; }
      header nav a:hover {
        color: #01c5c5; }
  header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header section h1 {
      color: #eee; }
    header section a {
      display: block;
      text-decoration: none;
      color: #eee;
      background: #01acac;
      margin-top: 15px;
      padding: 15px 60px;
      transition-duration: 1s; }
      header section a:hover {
        background: #016060; }

main {
  width: 960px;
  margin: 0 auto;
  font-family: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif; }
  main .toolbar {
    text-align: right;
    margin-top: 15px; }
    main .toolbar input {
      background: inherit;
      padding: 10px 10px 10px 20px;
      border: 1px solid #000;
      color: #000;
      font-size: .9em; }

#list {
  display: flex;
  flex-direction: column; }
  #list h1 {
    text-align: right;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
    color: #000; }
  #list article {
    display: flex;
    background: #efefef;
    padding: 10px;
    margin-bottom: 20px; }
    #list article div {
      padding: 10px; }
    #list article .post-description {
      font-size: .75em;
      border-bottom: 1px solid #004747;
      padding-bottom: 10px;
      padding-left: 10px;
      color: #cb4154; }
    #list article h3 {
      text-transform: uppercase;
      color: #017979;
      margin: 5px auto; }
    #list article p {
      font-size: 14px;
      line-height: 25px;
      font-weight: 300;
      margin-bottom: 15px;
      margin-top: 0;
      color: #000; }
    #list article .btn {
      text-transform: uppercase;
      background: #01acac;
      color: #eee;
      padding: 10px 60px;
      font-size: .8em;
      transition-duration: 1s;
      float: right; }
      #list article .btn:hover {
        background: #016060; }

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 55px;
  color: #000; }
  #about div:nth-child(2) {
    position: relative; }
  #about h1 {
    text-transform: uppercase;
    text-align: right; }
  #about p {
    margin-bottom: 20px;
    font-size: .9em;
    line-height: 25px; }
  #about img {
    width: 100%; }

#contact {
  text-align: right; }
  #contact h1, #contact h4 {
    text-transform: uppercase;
    line-height: 25px;
    color: #000; }
  #contact form {
    display: flex;
    flex-direction: column; }
    #contact form label {
      color: #01acac;
      margin-bottom: 5px; }
    #contact form textarea {
      background: inherit;
      padding: 10px;
      border: 1px solid #017979; }
    #contact form #input-container {
      display: flex;
      justify-content: space-between;
      margin: 20px 0; }
      #contact form #input-container input {
        background: inherit;
        width: 450px;
        height: 40px;
        padding-left: 20px;
        border: 1px solid #017979; }
    #contact form button {
      text-transform: uppercase;
      background: #01acac;
      color: #eee;
      padding: 10px 65px;
      font-size: .9em;
      width: 200px;
      margin: 20px 0;
      align-self: flex-end;
      transition-duration: 1s; }
      #contact form button:hover {
        background: #016060; }

footer {
  font-size: .8em;
  margin: 20px 0 20px 20px; }
